@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-primary: #DC0071;
  --color-primary-200: #C60088;
  --color-logo: #FFEDF5; 
}


header{
  background-image: url(./img/Tasks/Fundo_Banner.png);
}

#containerApp{
  box-shadow: 0px -10px 6px 1px rgba(0,0,0,0.3);

}

button:disabled{
  background-color: #ccc;
}

[contenteditable="true"]{
  cursor: text;
  border: 1px solid ;
}

